@import '../../_styles/sk-page.scss';
@import '../../_styles/sk-details.scss';
@import '../../_styles/sk-card.scss';
@import '../../_styles/sk-status.scss';

:host {
  display: block;
  height: 100%;

  div.sk-vacancy-details-page-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    & > div.left {
      margin-right: 24px;
      overflow: hidden;
    }

    & > div.right {
      flex-shrink: 0;
      width: 290px;

      & > div.controls {
        margin-bottom: 1em;

        & > div:not(:last-child) {
          margin-bottom: 1em;
        }
      }

      & > div.card {
      }

    }
  }
}
